@mixin navbox {
  position: fixed;
  top: 30px;
  width: 175px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  z-index: 20;
  overflow: hidden;
  box-shadow: 3px 3px #154734;
  transition: all 2s;
}

@mixin header-button {
  position: fixed;
  top: 60px;
  z-index: 20;
  transition: all 2s;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 4px solid #154734;
  border-left: none;
  cursor: pointer;
  padding: 5px 5px;
}

@mixin navbox-route {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;;
  border-top: 2px solid black;
}

.cart{
  position: fixed;
  right: 30px;
  top: 30px;
  width: 175px;
  z-index: 20;

  &__item{
    position: relative;
    background-color: white;
    width: 175px;
    height: 75px;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: 3px 3px #154734;
    color: black;
    outline: none;
    &__amount{
      position: absolute;
      left: 10px;
      top: 28px;
      font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;;
      font-size: 12px;
    }
    &__image{
      margin-top: 10px;
      margin-left: 30px;
      height: 100px;
      position: relative;
      z-index:0;
    }
    &__size{
      position: absolute;
      left: 115px;
      top: 28px;
      font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;;
      font-size: 12px;
    }
    &__price{
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;;
      font-size: 12px;
    }
    &__close{
      position: absolute;
      right: 5px;
      top: 5px;
      color: black;
      font-size: 16px;

      &:hover {
        background: black;
        color: white;
        opacity: 1;
        border-radius: 50%;
      }
    } 
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
    &__noStock{
      opacity: 0.5;
      cursor: pointer;
    }
    &__noStockMsg{
      position: absolute;
      color:red;
      width: 100px;
      z-index: 100;
    }
  }

  &__button{
    border: none;
    box-shadow: 3px 3px #000;
    margin-top: 15px;
    background-color: #154734;
    border-radius: 8px;
    width: 175px;
    height: 40px;
    color: white;
    outline: none;
    font-weight: 500;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.navbox{
  @include navbox();
  left: 30px;
  display: block;

  &__logo {
    width: 100px;
    height: auto;
    top: 25px;
    cursor: pointer;
  }

  &__link {
    @include navbox-route();
    color: black;

    &:hover {
      background-color: #154734;
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__selected {
    @include navbox-route();
    color: white;
    background-color: #154734;

    &:hover {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.navbox-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 5px;
}

.navbox--closed {
  @include navbox();
  left: -500px;
}

.header-button--closed {
  @include header-button();
  left: -100px;
}

.header-button {
  @include header-button();
  left: 0;

  &__icon {
    color: #154734;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .cart {
      right: 20px; 
      top: 80px;
  }

  .header-desktop {
    display: none;
  }
  
  .navbox {
    display: none;
  }
}