.not-found {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__header {
    color: #154734;
  }

  &__text {
    margin: 0;
  }

  &__button {
    width: 110px;
    border-radius: 5px;
    background: none;
    outline: none;
    color: white;
    background: #154734;
    border: 2px solid black;
    box-shadow: 0 4px #000;
    padding: 3px 6px;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }

    &:active {
      box-shadow: 0 2px #000;
      transform: translateY(3px);
    }
  }
}

.not-found-buttons {
  margin-top: 2em;
  width: 400px;
  display: flex;
  justify-content: space-between;
}