.contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;

  &__header {
    color: #154734;
    margin-bottom: 20px;
  }

  &__icon {
    color: #154734;
  }
}

.contact-row {
  display: flex;
  justify-content: space-evenly;
  width: 260px;
}