.lookbook {
  width: 100%;
  height: 102vh;
  margin-bottom: -2vh;
  overflow-y: hidden;
}

.lookbook-scroll {
  white-space: nowrap;
  height: 100vh;
}

@media (max-width: 450px) {
  .lookbook {
    top: 60px;
  }
}