@mixin flex {
  display: flex;
  align-self: center;
  justify-content: center;
}

@mixin shop {
  width: 90%;
  max-width: 1450px;
  height: 100%;
  border: 2px solid black;
  border-top: 0;
  border-bottom: 0;
  overflow: hidden;
  position: fixed;
  animation: fadein 5s;
}

.shop-scroll {
  height: 2000px;
  @include flex();
}

.shop {
  @include shop();
}

.shop-mobile {
  @include shop();
  width: 80%;
  z-index: 10;
}

.shop-wheel {
  width:100%;
  height:100%;
  position: relative;
  top: 200px;

  &__image {
    max-height: 60%;
    width: auto;
  }
}

.shop-track {
  height: calc(300px * 32);
  display: flex;
  flex-direction: column;
  animation: straight 25s linear infinite;
}

.shop-paused {
  animation-play-state: paused;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes straight {
	0% { transform: translateY(0); }
	100% { transform: translateY(calc(-300px * 16))}
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

