@mixin flex {
  display: flex;
  align-self: center;
  justify-content: center;
}

@mixin shop {
  width: 90%;
  max-width: 1300px;
  height: 100%;
  border: 2px solid black;
  border-top: 0;
  border-bottom: 0;
  overflow: hidden;
  position: fixed;
  animation: fadein 5s;
}

@mixin shop-button {
  width: 80px;
  padding: 3px 6px;
  position: absolute;
  right: 2%;
  bottom: 30px;
  border-radius: 5px;
  outline: none;
  color: white;
  border-color: black;
  background: #154734;
  box-shadow: 0 4px #000;
  z-index: 100;
  cursor: pointer;
  font-weight: 500;
  @include flex();
}

.shop-scroll {
  height: 2000px;
  @include flex();
}

.shop {
  @include shop();

  &__button {
    @include shop-button();
    z-index: 100;

    &:active {
      box-shadow: 0 2px #000;
      transform: translateY(3px);
    }
  }
}

.shop-mobile {
  @include shop();
  width: 80%;
  z-index: -100;

  &__button {
    @include shop-button();

    &:active {
      box-shadow: 0 2px #000;
      transform: translateY(4px);
    }
  }
}

.shop-wheel {
  width:100%;
  height:100%;
  position: relative;
  top: 150px;

  &__image {
    max-height: 60%;
    width: auto;
  }
}

.shop-track {
  height: calc(300px * 32);
  display: flex;
  flex-direction: column;
  animation: straight 25s linear infinite;
}

.shop-paused {
  animation-play-state: paused;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes straight {
	0% { transform: translateY(0); }
	100% { transform: translateY(calc(-300px * 16))}
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

