@mixin flex {
  display: flex;
  align-self: center;
  justify-content: center;
}

@mixin shop-button {
  width: 80px;
  padding: 3px 6px;
  position: absolute;
  right: 2%;
  bottom: 2%;
  border-radius: 5px;
  outline: none;
  color: white;
  border-color: black;
  background: #154734;
  box-shadow: 0 5px #000;
  z-index: 5;
  cursor: pointer;
  font-weight: 500;
  @include flex();
}

.shop-scroll {
  height: 2000px;
  @include flex();
}

.shop {
  width:80%;
  max-width: 1300px;
  height:700px;
  border:2px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5%;
  position: fixed;
  bottom: 6em;
  animation: fadein 5s;

  &__button {
    @include shop-button();

    &:active {
      box-shadow: 0 2px #000;
      transform: translateY(4px);
    }
  }
}

.shop-mobile {
  width:90%;
  max-width: 1300px;
  height:700px;
  border:2px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5%;
  position: fixed;
  bottom: 6em;
  animation: fadein 5s;
  @include flex();
  flex-direction: column;

  &__button {
    @include shop-button();

    &:active {
      box-shadow: 0 2px #000;
      transform: translateY(4px);
    }
  }
}

.shop-wheel {
  width:100%;
  height:100%;
  position: relative;

  &__image {
    max-height: 60%;
    width: auto;
  }
}

.shop-track {
  height: calc(240px * 16);
  display: flex;
  flex-direction: column;
  animation: straight 20s linear infinite;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes straight {
	0% { transform: translateY(0); }
	100% { transform: translateY(calc(-240px * 16))}
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

