@media (min-width: 900px) {
  .footer-mobile {
    display: none;
  }
}

@media (max-width: 900px) {
  .footer-mobile {
    display: flex;
  }
}

.footer-mobile {
  position: fixed;
  flex-direction: column;
  bottom: 0;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
  padding: 0 1em;
  z-index: 100;

  &__header {
    font-size: 0.7rem;
    margin: 0;
    width: 155px;
    transition: 3s ease-in-out;
  }

  &__link {
    font-size: 0.7rem;
    margin: 0;
    transition: color 3s ease-in-out;
    font-weight: 500;
    line-height: 1.2;
    cursor: pointer;
    margin-right: 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    margin: 0;
    width: 20px;
    height: auto;
    animation: rotate 5s infinite linear;

    &:hover {
      opacity: 0.7;
    }
  }

  .footer-mobile-row {
    display: flex;
    align-items: center;
  }

  &__button {
    padding: 8px;
    border-radius: 50%;
    outline: none;
    background: none;
    border: none;
    color: black;
    z-index: 100;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 1em;
    bottom: 70px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    2px 6px 10px rgba(0, 0, 0, 0.2);

    &:active {
      opacity: 1;
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 4px 8px 16px rgba(0, 0, 0, 0.1);
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}