.product {
  width: 80vw;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  height: 100vh;
  overflow: scroll;
  padding: 50px 0;
}

.product-images {
  min-width: 350px;
  width: 50%;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image--main {
    margin: 0;
    width: auto;
    height: 50vh;
    cursor: pointer;
  }

  &__image--secondary {
    margin: 0;
    width: 20%;
    height: auto;
    margin: 20px;
    cursor: pointer;
    margin-bottom: 40px;
  }
}

.product-images-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-details {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  width: 50%;
  max-width: 550px;
  margin: 0 auto;

  &__header {
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 1.3rem;
  }

  &__price {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    padding-top: 15px;
  }

  &__point {
    margin: 0.15em 0;
    max-width: 400px;
    font-size: 14px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  &__back {
    position: relative;
    width: 100vw;
    padding-left: 5%;
  }

  &__button {
    width: 180px;
    border-radius: 5px;
    outline: none;
    margin: 0.5em 0;
    border: 1px solid black;
    box-shadow: 0 5px #565656;
    cursor: pointer;
    transition: background 0.5s;
    background: linear-gradient(to right, #154734 50%, #dddddd 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    font-weight: 500;
    color: white;

    &:disabled {
      background-position: right bottom;
      color: black;
      cursor: inherit;
      opacity: 0.7;
    }

    &:active {
      box-shadow: 0 2px #565656;
      transform: translateY(4px);
    }
  }
}

.product-details-sizes {
  display: flex;
  margin: 20px 0;

  &__size {
    margin-right: 30px;
  }
}

.product-details-sizes-label {
  margin-bottom: 0px;

  &__in-stock{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
    padding: 1em;
  }

  &__no-stock{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color:rgb(158, 158, 158);
    background-color: white;
    cursor: not-allowed;
    position: relative;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 50%;
    padding: 1em;
  }
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: black;
  color: white;
}

.size-guide {
  &__size-guide-link {
    font-size: small;
    text-align: left;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    color: #767676;
    max-width: 80px;
    border:none;
    padding: 0;
  }
   &__heading {
     padding:10px;
     font: helvetica,arial,sans-serif;
     letter-spacing: .02rem;
     color: #222;
     -webkit-font-smoothing: antialiased;
     margin-bottom: 40px;
     padding-bottom: 10px;
     border-bottom: 1px solid #ddd;
   }
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  column-width: 60vw;
  font-size: small;
}

table {
  padding-left: 50vw;
  color: #5f5f5f;
}

@media (max-width: 450px) {
  .product {
    width: 100%;
    height: 100vh;
  }

  .product-images {
    width: 100%;

    &__image--main {
      width: 95%;
      height: auto;
      margin: 0 auto;
      cursor: pointer;
    }
  }

  .product-details {
    justify-content: center;
    position: relative;
    top: -30px;
    padding-left: 20px;

    &__header {
      font-size: 1.5rem;
    }

    &__button {
      position: relative;
      top: 10px;
    }
  }
}