@mixin text {
  position: fixed;
  color: white;
  top: -20%;
  text-shadow: 2px 2px black;
}

.artstep-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 3%;
  overflow: hidden;
}

.artstep-overlay {
  background: black;
  width: 100%;
  height: 100%;
  animation: fadeOut 2s ease-in-out 6s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artstep-frame {
  z-index: -1;
}

.index-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 10;

  &__header {
    &--main {
      font-size: 0rem;
      text-align: center;
      color: white;
      text-shadow: 2px 2px black;
      animation: updown 1.5s ease-in-out infinite, zoomInOut 4s ease-in-out 1.5s;
    }
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes updown {
  0%, 100% {
    transform: translatey(1rem); 
  }
  50% {
    transform: translatey(-1rem);
  }
} 

@keyframes zoomInOut {
  0%, 100% {
    font-size: 0px;
  }
  5%, 95% {
    font-size: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .artstep-wrapper {
    margin-top: 60px;
    padding: 0;
    height: calc(100% - 60px);
  }
}