@mixin flex {
  display: flex;
  align-self: center;
  justify-content: center;
}

@mixin shop {
  width: 90%;
  max-width: 1450px;
  height: 100%;
  border-top: 0;
  border-bottom: 0;
  overflow: hidden;
  position: fixed;
  animation: fadein 5s;
}

.shop-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("https://sageimagebank.s3.ca-central-1.amazonaws.com/sage-shop-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.shop-scroll {
  height: 2000px;
  @include flex();

  &__button {
    padding: 8px;
    border-radius: 50%;
    outline: none;
    background: none;
    border: none;
    color: #154734;
    background: white;
    z-index: 100;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 50px;
    bottom: 70px;
    border: 2px solid #154734;
    box-shadow: 0 5px #154734;

    &:active {
      box-shadow: 0 2px #154734;
      transform: translateY(4px);
    }
  }
}

.shop {
  @include shop();
}

.shop-view {
  position: fixed;
  float: right;
  top: 50vh;
  transform: translateY(-50%);
  width: 125px;
  height: 80px;
  right: 0;
  cursor: pointer;

  &__arrow {
    position: fixed;
    float: right;
    margin-top: 10px;
    color: #154734;
    right: 15px;
    animation: pointer 1s ease-in-out infinite;
  }

  &__logo {
    position: fixed;
    float: right;
    width: 55px;
    height: auto;
    right: 50px;
  }

  &__text {
    position: fixed;
    float: right;
    margin-top: 50px;
    width: 100px;
    height: auto;
    right: 10px;
    color: black;
    animation: fadeinout 2s ease-in-out infinite;
  }
}

.shop-mobile {
  @include shop();
  width: 80%;
  z-index: 10;
}

.shop-wheel {
  width:100%;
  height:100%;
  position: relative;
  top: 200px;

  &__image {
    max-height: 60%;
    width: auto;
  }
}

.shop-track {
  height: calc(300px * 32);
  display: flex;
  flex-direction: column;
  animation: straight 25s linear infinite;
}

.shop-paused {
  animation-play-state: paused;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeinout {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes straight {
	0% { transform: translateY(0); }
	100% { transform: translateY(calc(-300px * 16))}
}

@keyframes pointer {
  0% {right: 15px}
  50% {right: 0px}
  100% {right: 15px}
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


@media (max-width: 500px) {
  .shop-background {
    background-image: url("https://sageimagebank.s3.ca-central-1.amazonaws.com/sage-shop-background-mobile.jpg");
  }
}
