@mixin footer {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 1em;
  z-index: 100;
}

@mixin icon {
  margin: 0;
  margin-right: 10px;
  transition: filter 3s ease-in-out;
  color: black;
  animation: rotate 5s infinite linear, rainbow 5s infinite linear;
}

.footer {
  @include footer();

  &__header {
    font-size: 0.7rem;
    margin: 0;
    width: 155px;
    transition: 3s ease-in-out;
    text-align: right;
  }

  &__icon {
    &--dark {
      @include icon();

      &:hover {
        opacity: 0.5;
      }
    }

    &--light {
      @include icon();
      filter: invert(1);

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__button {
    padding: 8px;
    border-radius: 50%;
    outline: none;
    background: none;
    border: none;
    color: #154734;
    // border-color: black;
    // background: #154734;
    // box-shadow: 0 4px #000;
    z-index: 100;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 1em;
    bottom: 70px;

    // &:active {
    //   box-shadow: 0 2px #000;
    //   transform: translateY(3px);
    // }

    &:hover {
      background: rgb(228, 228, 228);
      border-radius: 50%;
    }

    &:focus {
      outline: none;
    }
  }
}

.footer-transparent {
  @include footer();
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rainbow {
  0% {
    color: red;
  }

  16.67% {
    color: orange;
  }

  33.33% {
    color: yellow;
  }

  50% {
    color: green;
  }

  66.67% {
    color: blue;
  }

  83.33% {
    color: purple;
  }

  100% {
    color: red;
  }
}