.layout {
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: white;
  top: 0px;
}

.product-back {
  color: #154734;
  margin-bottom: 30px;
}

button:focus {
  outline: none !important;
}

.product-banner {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 10;

  &__entry {
    font-weight: 540;
    text-align: center;
    font-size: 0.8rem;
    width: 390px;
    min-width: 390px;
    margin: 0 60px;
  }

  &__div {
    display: flex;
  }
}

.product-banner-track {
  width: calc(940px * 12);
  display: flex;
  animation: horizontal 55s linear infinite;
  align-items: center;
}

@keyframes horizontal {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-940px * 5))}
}

@media screen and (max-width: 900px) {
  .product-banner {
    top: 10px;
    width: 55%;
    margin: 0;
  }

  .product-banner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}