.layout {
  // display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0px;
  background-color: white;
}

button:focus {
  outline: none !important;
}