@mixin lookbook {
  position: relative;
  display: inline-block;
  border: 2px solid black;
  border-radius: 24px;
  margin-right: 100px;
  transform: translateX(10%);
  background-color: #154734;
}

.lookbook-front {
  @include lookbook();
  width: 450px;
  height: 650px;
  top: 110px;
}

.lookbook-front-mobile {
  @include lookbook();
  width: 400px;
  height: 600px;
  border: 2px solid black;
  top: calc(10vw + 70px);
}