@mixin lookbook {
  cursor: pointer;
  transition: background 1s linear;
  animation-delay: -1s;
  background-size: cover;
  display: inline-block;
  height: 100vh;
}

@mixin header {
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  position: relative;
  top: 40vh;
}

@mixin text {
}

.lookbook-front {
  @include lookbook();
  min-width: 600px;
  transition: all 1s;

  &:hover {
    opacity: 0.7;
  }

  &__text {
    color: white;
    font-size: 1.3rem;
    position: relative;
    top: 20px;
    left: 30px;
  }

  &__image {
    width: auto;
    max-width: 100%;
  }

  &__icon {
    color: white;
    transform: rotate(90deg);
  }
}

.lookbook-modal {
  position: absolute;
  overflow: scroll;
  height: 100vh;
}

.lookbook-modal-content {
  width: 90%;
  max-width: 800px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  margin: 0 auto;
}

@media (max-width: 450px) {
  .lookbook-front {
    width: 100%;
    min-width: auto;
    padding-top: 60px;
  }
}