.shop-item {
  width:80%;
  min-width: 700px;
  height:240px;
  border-radius: 10px;
  position:absolute;
  top:100px; bottom:50px; left:-650px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation: circle 20s linear infinite;
  animation-direction: reverse;
  transition: all 1s;
  flex-shrink: 0.5;
  color: black;
  z-index: 100;
  cursor: pointer;

  &:hover {
    width: 86%;
    height: 260px;
    left: calc(-650px - 3%);
    right: 3%;
    top: 90px;
    bottom: 40px;
  }
}

.shop-item-mobile {
  width:90%;
  height:240px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 1s;
  margin: 30px auto;
}

@keyframes circle {
  from { transform: rotate(0deg) translateX(800px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(800px) rotate(-360deg); }
}