.shop-all-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 5rem;
  justify-content: space-around;
  align-content: space-around;
  width: 80vw;
  margin: 5% auto;
  padding-bottom: 150px;
}

.back {
  position: fixed;
  bottom: 30px;
  left: 20px;
}
